<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<%= turbo_stream_from('events') %>
<%= turbo_frame_tag('events') do %>
  <div id="events">
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
<% end %> 


<h1>New event</h1>

<%= turbo_frame_tag('event_form') do %>
  <%= render "form", event: @event %>
<% end %>

<br>


<!-- <div data-controller="hello">
  <input data-hello-target="name" type="text" data-action="paste->hello#paste">
  <button data-action="click->hello#log">Log</button>
</div> -->
